.btn {
  padding: 12px;
  font-family: "Open Sans", sans-serif;
  &--green {
    background: $green;
    border-radius: 4px;
    color: $black;
  }
  &--white {
    background: $white;
    border-radius: 4px;
    color: $black;
  }
  &--rounded {
    border-radius: 100px; 
  }
  &--sm {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}