html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: $ltGray;
  color: $black;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
  height: 100%;
}
main {
  height: 100%;
  background-color: $ltGray;
}
.header {
  background-color: $ltWhite;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 15px 0;
  .image-wrapper {
    margin: 0;
    width: 50%;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
    padding: 0 34px;
    &::after {
      content: "";
      border-left: 1px solid $gray;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &:last-child {
      &::after {
        border-left: none;
      }
    }
    .img-fluid {
      height: 100%;
      object-fit: contain;
      width: 100%;
      &.img--left {
        max-width: 156px;
      }
      &.img--right {
        max-width: 100px;
      }
    }
  }
}
.icon {
  display: flex;
  flex: 0 0 auto;
  &--circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    &.green {
      border: 5px solid #4D9D2E;
    }
    &.red {
      border: 5px solid #DC3545;
    }
  }
  &--location {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../dist/img/icon-target.png);
  }
  &--search {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../dist/img/icon-search.png);
  }
  &--station {
    width: 24px;
    height: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../dist/img/vaccination-stations-icon.png);
  }
  &--interest {
    width: 24px;
    height: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../dist/img/location-interest-icon.png);
  }
  &--testing {
    width: 24px;
    height: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../dist/img/testing-sites-icon.png);
  }
  &--buses {
    width: 24px;
    height: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../dist/img/vaccination-buses-icon.png);
  }
}
.input-wrapper {
  position: relative;
}
.custom-checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 0 20px;
  &:last-child {
    margin: 0;
  }
  &.reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
    .custom-checkbox {
      margin-right: 10px;
    }
  }
  .title-wrapper {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 12px;
    }
  }
  .form-control--checkbox {
    display: none;
    &:checked ~ .custom-checkbox {
      .icon--check {
        display: block;
      }
    }
  }
  .custom-checkbox {
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 2px solid #282727;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    .icon--check {
      display: none;
      color: #282727;
      font-size: 16px;
    }
  }
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $ltGray;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: $black;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  &__item {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 10px;
    }
  }
}