.section-index {
  height: 100%;
  .iframe-wrapper {
    height: 100%;
    .main-iframe {
      height: 100%;
      width: 100%;
    }
  }
}
.section-iframe {
  background-color: $ltGray;
  height: calc(100% - 92px);
  padding: 30px;
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
    .iframe-wrapper {
      width: 100%;
      height: auto;
      flex-grow: 1;
      .map {
        width: 100%;
        height: 100%;
      }
    }
  }
  .form {
    padding: 15px;
    background-color: $secBlack;
    .form-group {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .btn--white {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        border-radius: 8px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          margin-right: 10px;
        }
      }
    }
    .input-wrapper--has-icon {
      .form-control {
        height: 54px;        
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: $black;
        background: $white;
        border: 2px solid $white;
        box-sizing: border-box;
        border-radius: 8px;
        padding-right: 94px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $secGray;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $secGray;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $secGray;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $secGray;
        }
      }
      .action {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        bottom: 0;
        right: 4px;
        display: flex;
        align-items: center;
        .icon.icon--location {
          margin-right: 14px;
          cursor: pointer;
        }
      }
    }
  }
}